*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* font-family: "Montserrat", sans-serif; */
}
header{
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin: 0 50px;
}
ul{
    list-style: none;
    display: flex;
    
}
li{
    padding-left: 25px;
}
.left{
    padding-right: 80px;
}
.one-work , .acme, .meeting, .roadmap, .benefit{
    margin: 0 50px;
}
button{
    background-color: rgb(225, 98, 89);
    color: aliceblue;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
}
button:hover{
    background-color: rgb(225, 98, 89, 0.9);
}
.details{
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding: 60px;
}
.details ul{
    display: inline;
}
.details ul li:not(first-child){
    font-weight: 100;
    margin-bottom: 10px;
}
hr{
    margin: 0 30px;
    border-color: rgba(128, 128, 128, 0.434);
}
.last{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
i{
    margin-right: 20px;
}
.details ul li:first-child{
    font-weight: 600;
}

